.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#180142;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color: #180142;
}
.btn-custom {
  background-color:#180142; 
  color: #ffffff;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s;
  text-decoration: none;
  margin-right: 30px;
  margin-top: 20px;
  display: inline-block;
}

.btn-custom:hover {
  background-color:#27036b;
  color: #ffffff;
}
.footer{
  flex-shrink:1;
  margin-top: 200px;
}