@import url('https://fonts.googleapis.com/css2?family=Delius&family=Satisfy&family=Tangerine:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Delius", cursive  !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Delius", cursive;
}
caption{
  font-size: 4px;
  font-style: italic;
}

.card{
  transition: transform 0.3s;
}
.card:hover{
  transform: scale(1.1);
  background-color: rgb(249, 241, 254);
}



